

{% extends "base.html" %}
{% load static %}
{% block  css %}
	<title>Cadastrar Novo Atendimento</title>
{% endblock %}


{% block  main %}


<div class="content">

	<div >
		<div class="page-header-title">
			<h4 class="page-title">Atendimento</h4>
		</div>
	</div>
	<div class="page-content-wrapper ">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h2 style="text-decoration: underline; text-align: center; color: #36b3d0;" class="m-t-0 m-b-0">Cadastro de Novo Atendimento</h2>
						</div>
					</div>
				</div>
			</div>
			<form id="formId" action="{% url 'novo-atendimento' %}" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="m-t-0">
									<h4  class="m-t-0" style="color: #49b0e8; position: relative; right: 8px;">Paciente <span style="font-size: 33px" class="pull-right"><i class="mdi mdi-human"></i></span></h4>
									<div class="row">
										<div class="form-group">
											<label>Selecione o paciente:</label>
												<select class="form-control" name="paciente" required="" id="id_paciente2">
														  <option value="0" ></option>
												</select>
										</div>
										<div style="padding: 0px; margin: 0px;" class="col-sm-12 col-xs-12 form-group">
											<div style="padding: 0px; margin: 0px;" class="form-group col-sm-6 col-xs-6">
												<label>Nome:</label>
												<input disabled type="text" name="nome" maxlength="200" required id="id_nome" class="form-control" placeholder="Nome"/>
											</div>
											<div class="form-group col-sm-6 col-xs-6">
												<label>Nome da Mãe:</label>
												<input disabled type="text"  maxlength="100" required id="id_nomedamae" class="form-control" placeholder="Nome"/>
											</div>
										</div>
											<div style="padding: 0px; margin: 0px; " class="col-sm-12 col-xs-12 form-group">
												<div style="padding: 0px;" class="form-group col-sm-6 col-xs-6">
													<label>CPF:</label>
													<input disabled type="text" maxlength="11" required id="id_cpf" class="form-control" placeholder="000.000.000-00"/>
												</div>
												<div class="col-sm-6 col-xs-6 form-group">
													<label>CNS</label>
													<input disabled type="text" maxlength="200" required id="id_cns" class="form-control" placeholder="11111111"/>
												</div>
											</div>
										<div style="padding: 0px; margin: 0px;" class="col-sm-12 col-xs-12 form-group">
												<div style="padding: 0px;" class="form-group col-sm-4 col-xs-4 ">
													<label>Data de Nascimento:</label>
													<input disabled type="text"  maxlength="11" required id="id_datanasc" class="form-control" placeholder="00/00/0000"/>
												</div>
												<div class="col-sm-4 col-xs-4 form-group">
													<label>Telefone:</label>
													<input disabled type="text"  maxlength="200" required id="id_Telefone" class="form-control" placeholder="Telefone"/>
												</div>
												<div class="col-sm-4 col-xs-4 form-group">
													<label>Sexo:</label>
													<input disabled type="text"  maxlength="20" required id="id_sexo" class="form-control"/>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="m-t-0">
									<h4  class="m-t-0" style="color: #c55858; position: relative; right: 8px;">Médico <span style="font-size: 33px" class="pull-right"><i class="mdi mdi-hospital"></i></span></h4>
									<div class="row">
										<div style="padding: 0px; margin: 0px;" class="form-group">
											<label>Selecione o médico:</label>
											<select class="form-control" name="medico", id="id_medico2">
  												<option value="0" ></option>
											</select>
										</div>
										<div style="padding: 0px; margin: 0px;" class="col-sm-12 col-xs-12 form-group">
											<div style="padding: 0px;" class=" col-sm-6 col-xs-6 form-group">
													<label>Nome:</label>
													<input disabled type="text"  maxlength="200" required id="id_nome2" class="form-control" placeholder="Nome"/>
											</div>
											<div class="form-group col-sm-6 col-xs-6 ">
													<label>Especialização:</label>
													<input disabled type="text"  maxlength="100" required id="id_especializacao" class="form-control" placeholder="Especialização"/>
											</div>
										</div>
										<div style="padding: 0px; margin: 0px;" class="col-sm-12 col-xs-12 form-group">
												<div style="padding: 0px;" class="form-group col-sm-6 col-xs-6 ">
													<label>CPF:</label>
													<input disabled type="text"  maxlength="11" required id="id_cpf2" class="form-control" placeholder="000.000.000-00"/>
												</div>
												<div class="col-sm-6 col-xs-6 form-group">
													<label>Sexo:</label>
													<input disabled type="text"  maxlength="20" required id="id_sexo2" class="form-control"/>
												</div>
										</div>
										<div style="padding: 0px; margin: 0px;" class="col-sm-12 col-xs-12 form-group">
												<div style="padding: 0px;" class="col-sm-6 col-xs-6 form-group">
													<label>Número Regional:</label>
													<input disabled type="text"  maxlength="10" required id="id_numeroregional" class="form-control" placeholder="Numero Regional"/>
												</div>
												<div class="col-sm-6 col-xs-6 form-group">
													<label>CBO:</label>
													<input disabled type="text"  maxlength="10" required id="id_cbo" class="form-control" placeholder="CBO"/>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
								<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="m-t-0">
									<h4  class="m-t-0" style="color: #35f135; position: relative; right: 8px;">Atendimento <span style="font-size: 33px" class="pull-right"><i class="mdi mdi-hospital-building"></i></span></h4>
									<div class="row">
										<div style="padding: 0px; margin: 0px;" class="col-sm-12 col-xs-12 form-group">
												<div style="padding: 0px;" class="col-sm-6 col-xs-6 form-group">
													<label>Procedimento:</label>
													<select  class="form-control" required name="procedimento" required="" id="id_procedimento">
														<option value="1">Consulta</option>
														<option value="2">Retorno</option>
														<option value="3">Enfermaria</option>
													</select>
												</div>
												<div  class="form-group col-sm-6 col-xs-6 ">
													<label>Data de Atendimento:</label>
													<input disabled name="data_atendimento" type="text" maxlength="11" required id="id_data_atendimento" class="form-control"/>
												</div>
										</div>
										<div class="form-group">
												<label>Queixa:</label>
												<textarea name="queixa" id="id_queixa"  maxlength="200" class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group">
												<label>Hipotese:</label>
												<textarea name="hipotese" id="id_hipotese" maxlength="200" class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group">
												<label>Diagnostico:</label>
												<textarea name="diagnostico" id="id_diagnostico" maxlength="200" class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group">
												<label>Doenças:</label>
												<textarea name="doencas" id="id_doencas" maxlength="200"  class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group">
												<label>Receita:</label>
												<textarea name="receitas" id="id_receitas" maxlength="200"  class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group">
												<label>Exames:</label>
												<textarea name="exames" id="id_exames" maxlength="200" class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group">
												<label>Medicação:</label>
												<textarea name="medicacao" id="id_medicacao" maxlength="200" class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group">
												<label>Observações:</label>
												<textarea name="observacoes" id="id_observacoes" maxlength="200" class="form-control" rows="3"></textarea>
										</div>
										<div style="position: relative; left: 80%;">
											<button style="font-size: 19px;" type="Submit form" onclick="submitDetailsForm()" class="btn btn-primary waves-effect waves-light">
												Salvar
											</button>
										<a href="{% url 'index' %}">
											<span style="font-size: 19px; "  class="btn btn-danger waves-effect waves-light">
												Voltar
											</span>
										</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock  %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
	function submitDetailsForm() {
		$("#formId :disabled").removeAttr('disabled');
       $("#formId").submit();
    }
	muda('#Atend');
	var data = new Date();
	var ano = data.getFullYear();
	var mes  = data.getMonth() + 1;
	var dia  = data.getDate();
	$("#id_data_atendimento").val(dia + '/' + mes + '/' + ano)
 </script>
<script>
		$("#id_paciente2").on('change', function() {

   			var valor = $(this).val();
   			if(valor=='0'){
				$("#id_nome").val('')
				$("#id_cpf").val('')
				$("#id_datanasc").val('')
				$("#id_Telefone").val('')
				$("#id_cns").val('')
				$("#id_nomedamae").val('')
				$("#id_sexo").val('')
			}else {
   				$("#id_nome").val(dicionario_globalp[valor]['nome'])
				$("#id_cpf").val(dicionario_globalp[valor]['cpf'])
				$("#id_datanasc").val(dicionario_globalp[valor]['datanasc'])
				$("#id_Telefone").val(dicionario_globalp[valor]['Telefone'])
				$("#id_cns").val(dicionario_globalp[valor]['cns'])
				$("#id_nomedamae").val(dicionario_globalp[valor]['nomedamae'])
				if(dicionario_globalp[valor]['sexo'] == 'F'){
					$("#id_sexo").val('Feminino')
				}else if(dicionario_globalp[valor]['sexo'] == 'M'){
					$("#id_sexo").val('Masculino')
				}else {
					$("#id_sexo").val('Outros')
				}
			}
		});
		$("#id_medico2").on('change', function() {
   			var valor = $(this).val();
   			if(valor=='0'){
				$("#id_nome2").val('')
				$("#id_cpf2").val('')
				$("#id_sexo2").val('')
				$("#id_numeroregional").val('')
				$("#id_cbo").val('')
				$("#id_especializacao").val('')
			}else {
   				$("#id_nome2").val(dicionario_globalm[valor]['nome'])
				$("#id_cpf2").val(dicionario_globalm[valor]['cpf'])
				$("#id_numeroregional").val(dicionario_globalm[valor]['numeroregional'])
				$("#id_cbo").val(dicionario_globalm[valor]['cbo'])
				$("#id_especializacao").val(dicionario_globalm[valor]['especializacao'])
				if(dicionario_globalm[valor]['sexo'] == 'F'){
					$("#id_sexo2").val('Feminino')
				}else if(dicionario_globalm[valor]['sexo'] == 'M'){
					$("#id_sexo2").val('Masculino')
				}else {
					$("#id_sexo2").val('Outros')
				}
			}
		});
		dicionario_globalp = {}
		dicionario_globalm = {}
		$(document).ready(function(){
  			chama()
		});
		function FormataStringData(data) {
  			var ano = data.split("-")[0];
			var mes  = data.split("-")[1];
  			var dia  = data.split("-")[2];
  			return dia + '/' + ("0"+mes).slice(-2) + '/' + ano;
		}
		function chama(){
			  $.ajax({
				type:'POST',
				url: '{% url "busca" %}',
				data:{
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
					action: 'post'
				},
				dataType: 'json',
				success: function (data) {
					data.pacientes.forEach(function (dados) {
						dicionario_globalp[dados.id] = {'nome' : dados.nome, 'cpf': dados.cpf, 'datanasc': FormataStringData(dados.datanasc),
							'Telefone':dados.Telefone, 'sexo':dados.sexo, 'nomedamae':dados.nomedamae, 'cns': dados.cns}
						$('#id_paciente2').append($('<option>', {
							value: dados['id'],
							text: dados['nome'] + " - " + "CNS: " + dados['cns']
						}));
					})
					data.medicos.forEach(function (dados) {
						dicionario_globalm[dados.id] = {'nome' : dados.nome, 'cpf': dados.cpf, 'sexo': dados.sexo, 'numeroregional': dados.numeroregional,
						'especializacao': dados.especializacao, 'cbo': dados.cbo}
						$('#id_medico2').append($('<option>', {
							value: dados['id'],
							text: dados['nome'] + " - " + "CBO: " + dados['cbo']
						}));
					})
				}
			  });
	}
	</script>
{% endblock  %}